    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    @-ms-viewport {width: device-width;}
    
    @font-face {
    font-family: 'CamphorPro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('./fonts/4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
    font-family: 'Xiaomi Brand';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
    margin: 0;
    font-family: 'CamphorPro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    }
    
    
    /***************************** Img & Icons ******************************************/
    
    img {vertical-align: middle; border-style: none;}
    
    .img-fluid {max-width: 100%; height: auto;}
    .img-mob{display: none;}
    .img-desk{display: block;}
    
    .icons-size {width: 4rem; margin: 1rem;}
    .icons-img-end{width: 40rem; margin: 0 auto; display: block; margin-top: 5rem;}
    
    
    /***************************** Roots Color ******************************************/
    
    :root{
    --background-white: #ffff;
    --background-black: #292929;
    --background-silver: #E8E8E8;
    --background-orange: #ff5e32;
    
    --text-white: #fff;
    --text-preto: #292929;
    }
    
    .txt-branco {color: var(--text-white);}
    .txt-preto{color: var(--text-preto)}
    
    .boxcolor-white{background-color: var(--background-white);}
    .boxcolor-silver{background-color: var(--background-silver);}
    .boxcolor-black{background-color: var(--background-black);}
    
    
    /***************************** Estrutura - Layout ******************************************/
    
    .container-s101 {
    max-width: 1440px;
    background-color: #fff;
    background-repeat: repeat-y;
    }
    
    .container-s101 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
    
    .col-sm-12-s101{
    position: relative;
    width: 100%;
    min-height: 1px;
    }
    
    .col-sm-12-s101 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
    
    .row-s101 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
    
    /***************************** Fonts Text ******************************************/
    
    .title-redmi{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-display: swap;
    font-family: 'Xiaomi Brand';
    position: relative;
    overflow-wrap: break-word;
    }
    
    .title-orange {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(55deg, #ffbd4b 25%, #fd5f19 85%);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    }
    
    .subtitle-left {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 1rem;
    }
    
    .subtitle-center {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 1rem;
    }

    .subtitle{
    text-align: center;
    font-size: 4.7rem;
    font-weight: 300;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 1rem;
    }
    
    .p-center {
    font-size: 1.1rem;
    text-align: center;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }
    
    .p-left {
    font-size: 1.1rem;
    text-align: left;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }
    
    .p-notas{
    text-align: left;
    font-size: 1rem;
    padding: 5rem;
    font-family: 'CamphorPro', sans-serif;
    }
        
    .p{
    font-size: 1.2rem;
    text-align: left;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    line-height: 1.5;
    overflow-wrap: break-word;
    width: 25rem;
    }
    
    .icons-title-mp {
    font-size: 2rem;
    font-family: 'CamphorPro', sans-serif;
    font-weight: 700;
    color: var(--text-preto);
    line-height: 2;
    text-align: left;
    margin-bottom: -0.5rem;
    }
    
    .icons-title {
    font-size: 1.5rem;
    font-family: 'CamphorPro', sans-serif;
    font-weight: 700;
    color: var(--text-white);
    text-align: center;
    margin-bottom: 1rem;
    }
    
    .icons-text {
    font-size: 1rem;
    font-family: 'CamphorPro', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    }
    
    /***************************** Grid ******************************************/

    .grid {
    position: absolute;
    top: 25rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

    .grid-text-second{
     display: flex;
    width: 58rem;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    }

    .grid-title-tree {
    position: absolute;
    right: 0rem;
    left: 0rem;
    bottom: 0rem;
    top: 11rem;
    }

    .grid-tree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 62rem;
    margin: 0 auto;
    }

    .grid-title {
    position: absolute;
    right: 43rem;
    top: 25rem;
    bottom: 0;
    height: 6rem;
    display: flex;
    flex-direction: column;
    }
            
    .grid-atm{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 36rem;
    height: 23rem;
    display: block;
    }
        
    .grid-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    }
    
    /***************************** Conteudos ******************************************/
    
    .spacing{padding: 3rem;}
    
    /************************************* Mobile ***************************************/
    
    @media only screen and (max-width: 920px) {
    
    .spacing{padding: 1rem;}
    .spacing-galery{padding: 1rem;}
    
    .img-desk{display: none;}
    .img-mob{display: block;}
    
    /***************************** Grind Mobile ************************************/

    .grid-title {
    position: absolute;
    right: 10rem;
    top: 175px;
    bottom: 0;
    height: 2rem;
    display: flex;
    flex-direction: column;
    }
   
    .grid-text {
    display: flex;
    flex-direction: column;
    }
    

    /**************************TxT******************************/
    
    .title-redmi {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-display: swap;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }
    
    .subtitle-xioami {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }
    
    .title-purple {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(-55deg, #a39bed, #7169e1);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    }
    
    .subtitle-left {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
    }
    
    .subtitle-center {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
    }
    
    .p-center {
    font-size: 0.99rem;
    text-align: center;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }
    
    .p-left {
    font-size: 0.99rem;
    text-align: left;
    font-family: 'CamphorPro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }
    
    .p-notas {
    text-align: left;
    font-size: 0.9rem;
    padding: 0.5rem;
    }
    
    
    
    }